##########
# Global #
##########
# Port number process will run on, e.g. 3000
PORT=

# Domain name of client server that will access this server
EXPRESS_CORS=

# Access key id for AWS IAM roles having access to S3
AWS_ACCESS_KEY_ID=

# Secret Access key for AWS IAM roles having access to S3
AWS_SECRET_ACCESS_KEY=

# AWS Region process will be hosted on
AWS_REGION=

################
# App-specific #
################
S3_BUCKET=
S3_REGION=
S3_KEYS=
APP_SECRET=  # Can be generated with require('crypto').randomBytes(32).toString('base64')
GOOGLE_OAUTH_CLIENT_ID=
